{% extends "base.html" %}


{% block content %}


<h1>{{ page.title }}</h1>


<p><strong>Course:</strong> {{ page.unit.course.title }}</p>
<p><strong>Unit:</strong> {{ page.unit.title }}</p>


<div id="content">
    {{ html_content|safe }}
</div>


<div style="margin-top: 20px; display: flex; justify-content: space-between;">


    {% if prev_page %}
        <a href="{% url 'notes_detail' prev_page.id %}">
            ← Previous
        </a>
    {% endif %}


    {% if next_page %}
        <a href="{% url 'notes_detail' next_page.id %}">
            Next →
        </a>
    {% endif %}


</div>


<p>
    <a href="{% url 'course_detail' page.unit.course.id %}">← Back to course</a>
</p>


<p>
    <a href="{% url 'notes_edit' page.id %}">Edit this page</a>
</p>


{% endblock %}

